
 main{
     grid-area: main;
 }

 .dark-seer{
     height: 50vh;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-top: 50px;
     background-image: url(../Assets/images/default_header.jpeg);
     background-size: 100% 50%;
     background-repeat: no-repeat;
 }

.news{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.div1{
    border: 1px solid white;
    width: 230px;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    text-align: center;
    transition: all 0.2s linear;
}

.slika{
    width: 200px;
    height: 100px;
}

.div1:hover{
    transform: scale(1.1, 1.1)
}
     
.io{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    color: white;
    font-size: 25px;
    margin: 50px auto;
}
span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 80%;
}
video{
    width: 50%;
}


@media only screen and (min-width: 992px) {
    .dark-seer{
        background-size: 100% 65%;
        justify-content: flex-end;
    }
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .io{
        flex-direction: row;
        justify-content: space-around;
    }
    span{
        width: 30%;
    }
    video{
        width: 30%;
    }
}